<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @user.username %>'s Events</h1>

<% if !@user.events.empty? %>
  <%@user.events.each do |event|%>
    <h3><a href="/events/<%=event.id%>"><%= event.name %></a> - <%= event.description %></h3>
    <% if event.datetime %>
      <h4><%= event.datetime %><br>
    <% end %>
  <% end %>
<% else %>
  <h3><%= @user.username %> doesn't have any events yet.</h3>
<% end %>
