<div class='text-center'><h1><%= @user.username %>'s events</h1></div>

<% if !@user.events.empty? %>
  <ol>
    <%@user.events.each do |event|%>
      <li>
        <h3><a href="/events/<%=event.id%>"><%= event.name %></a> - <%= event.description %></h3>
        <% if event.datetime %>
          <h4><%= event.datetime %></h4>
        <% end %>
      </li>
    <% end %>
  </ol>
<% else %>
  <h3><%= @user.username %> doesn't have any events yet.</h3>
<% end %>
