<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1><%= @event.name %><h1>
<% if @event.datetime %>
  <h2><%= @event.datetime %></h3>
<% end %>
<h3><%= @event.description %></h3>
<a href="/events/<%=@event.id%>/tasks">View this events tasks</a><br>
<a href="/events/<%=@event.id%>/tasks/new">Create new tasks for this event</a>
<br></br>
<br></br>
<% if Helpers.current_user(session).id.equal?(@event.user.id)%>
  <a href="/events/<%=@event.id%>/edit">Edit this event</a><br>
  <form method="post" action="/events/<%=@event.id%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event">
  </form>
<% end %>
