<div class="container">
<div>
  <h1><%= @event.name %><h1>
  <% if @event.datetime %>
    <h2><%= @event.datetime %></h3>
  <% end %>
  <h3><%= @event.description %></h3>
</div>

<a href="/events/<%=@event.id%>/tasks" role="button" class="btn btn-light">View this events tasks</a>
<a href="/events/<%=@event.id%>/tasks/new" role="button" class="btn btn-light">Create new tasks for this event</a></button>
<% if Helpers.current_user(session).id.equal?(@event.user.id)%>
  <a href="/events/<%=@event.id%>/edit" role="button" class="btn btn-light">Edit this event</a>
  <form method="post" action="/events/<%=@event.id%>">
    <input type="hidden" id="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Event" role="button" class="btn btn-danger">
  </form>
<% end %>
</div>